*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #4e65ff, #92effd);
}

.box{
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.1);
}

.box h3{
    position: relative;
    font-size: 1.25em;
    color: #ccc;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.box #form{
    position: relative;
}

.box #form #email{
    width: 400px;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    color: #333;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.box .inputBox{
    position: relative;
}

#text{
    display: block;
    color: #999;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75em;
}

.box #form.invalid .inputBox::before{
    content: '';
    position: absolute;
    right: 0;
    width: 54px;
    height: 54px;
    background: url(invalid.png);
    background-size: cover;
}

.box #form.valid .inputBox::before{
    content: '';
    position: absolute;
    right: 0;
    width: 54px;
    height: 54px;
    background: url(valid.png);
    background-size: cover;
}
